{% extends "templates/base.html" %}


{% block content %}

<h2>Relacionar produtos da NF com o sistema</h2>
<form method="post">
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
      </li>
    {% endfor %}
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Produto do Sistema</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr>
                    <td>{{ form.codigo }}</td>
                    <td>{{ form.nome }}</td>
                    <td>{{ form.produto_estoque }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Salvar relacionamentos</button>
</form>
{% endblock content %}