{% extends "templates/base_cadastro.html" %}

{% block content %}

<div class="form-container">

    <h3 class="form-title">{{ titulo }}</h3>

    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Dados da Transportadora</legend>

            <div class="form-grid">

                <div class="linha">
                    <label>Nome</label>
                    {{ form.nome }}
                </div>

                <div class="linha">
                    <label>CNPJ</label>
                    {{ form.cnpj }}
                </div>

                <div class="linha">
                    <label>
                        {{ form.ativo }} Ativa
                    </label>
                </div>

            </div>
        </fieldset>

        <div class="regra-preco-acoes">
            <button type="submit" class="regra-preco-btn-salvar">
                Salvar
            </button>

            <a href="{% url 'cadastros:transportadora_list' %}"
               class="regra-preco-btn-cancelar">
                Voltar
            </a>
        </div>

    </form>

</div>

{% endblock %}
