{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "templates/head.html" %}
</head>
<body>
    <div class="content">
        <div class="content-all">
            <div class="nav-content">
                <img src="" alt="nada">
                {% include "templates/nav_left.html" %}
            </div>
            <div class="content-content">

                <div class="content-header">
                    {% include "templates/nav_top.html" %}
                    <h2>HEADER</h2>
                </div>

                <div class="content-2-base3">

                    <div class="content-footer-header-base3">
                        {% block content %}{% endblock content %}
                    </div>

                    <div class="content-footer-header2-base3">
                        {% block content_2 %}{% endblock content_2 %}
                        {% block content_3 %}{% endblock content_3 %}
                    </div>

                    <!-- ✅ AGORA A area-lote FAZ PARTE DO MESMO LAYOUT -->
                    

                </div>

                <div class="area-lote"></div>

            </div>




        </div>

        
    </div>
    
</body>
</html>

